.cart-item {
  box-shadow: 0 0 5px 0px #aaa;
}

.cart-item img {
  height: 80px;
  width: 100px;
}

.cart-item .name {
  font-size: 1.75rem;
}

.cart-item .description {
  font-size: 0.75rem;
}

.cart-item .total-amount {
  font-size: 1.5rem;
  color: orange;
}

.cart-item .total-amount ::ng-deep .p-inputnumber-input {
  width: 50px;
}
