<div class="product p-3" *ngIf="product">
  <div class="row">
    <div class="col-sm-6">
      <img src="{{product.imageUrl}}" />
    </div>
    <div class="col-sm-6">
      <div class="name mb-2 mt-2">
        {{product.name}}
      </div>
      <div class="description mb-2">
        {{product.description}}
      </div>
      <div class="rating mb-2">
        <p-rating [ngModel]="product.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
      </div>
      <div class="price mb-2">
        {{product.price | currency:'INR':'symbol-narrow':'1.0-0'}}
      </div>
      <div class="quantity mb-2">
        <p-inputNumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal"
          spinnerMode="horizontal" [step]="1" [min]="1" [max]="3" decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
      </div>
      <div class="row mt-5">
        <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8">
          <button pButton type="submit" label="Add to Cart" class="w-100"
            (click)="addItemToCart(product.id)"></button>
        </div>
      </div>
    </div>
  </div>
</div>

